.logo {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 12px rgba(0, 212, 255, 0.4));
}

.logo--default .logo-icon {
  width: 40px;
  height: 40px;
}

.logo--small .logo-icon {
  width: 32px;
  height: 32px;
}

.logo--large .logo-icon {
  width: 56px;
  height: 56px;
}
